.container {
  position: relative;
}

.table-container {
  position: relative;
  overflow: auto;
}

table {
  width: 100%;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .filter {
    margin-left: 15px;
  }
}

@media screen and (max-width: 575px) {
  .mat-cell,
  .mat-header-cell {
    padding-right: 8px;
  }
}

::ng-deep .my-tooltip {
  text-align: center;
  white-space: pre-line;
}

.success-snackbar {
  background:green;
}